.todolist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    .input {
      height: 66px;
      border: 1px solid #cbb8cb;
      border-radius: 10px;
      margin-right: 5px;
      text-indent: 5px;
      ::placeholder {
        color: #d9d9d9;
      }
    }
    .button {
      height: 66px;
      background: #cbb8cb;
      color: white;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    color: #cbb8cb;
  }
}
