@import "../../base.scss";
.index {
  display: flex;
  flex-direction: column;
  background-color: #f3eff3;
  height: 100%;
  .title {
    /* prettier-ignore */
    font-size: 28PX;
    margin: 5px auto;
    color: $element-color;
    font-weight: bold;
  }
  .list {
    display: flex;
    flex-direction: column;
    /* prettier-ignore */
    margin-left: 10PX;
    margin-top: 10px;
    color: $element-color;
    .list-item {
      /* prettier-ignore */
      margin-bottom:20PX;
      display: flex;
      flex-direction: row;
      align-items: center;
      .contont-before {
        /* prettier-ignore */
        font-size: 28PX;
      }
      .content {
        /* prettier-ignore */
        margin-left:5PX;
        margin-right: 5px;
      }
      .icon-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* prettier-ignore */
        margin-left:10PX;
      }
    }
  }
  .button {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: $primary-color;
    color: white;
    border-radius: 0;
    z-index: 3;
  }
  .button_back {
    background: $primary-color;
    color: white;
  }
}
