@import "../../base.scss";
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  .question {
    background: white;
    /* prettier-ignore */
    border-radius: 5PX;
    width: 90%;
    /* prettier-ignore */
    margin: 60PX auto;
    display: flex;
    flex-direction: column;
    border-radius: 5p;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: $element-color;
    .question-item {
      margin: 10px;
    }
    .textarea {
      /* prettier-ignore */
      width:300PX;
    }
    .bottom-button {
      display: flex;
      flex-direction: row;
      /* prettier-ignore */
      margin: 10PX;
      align-items: center;
      .cancel {
        /* prettier-ignore */
        margin-right: 5PX;
        /* prettier-ignore */
        height: 28.75PX;
        width: 80PX;
      }
      .OK {
        background: $primary-color;
        color: white;
        /* prettier-ignore */
        margin-left: 5PX;
        margin-right: 5PX;
        height: 28.75PX;
        width: 80PX;
      }
    }
  }
}
